body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ff1493;
  color: white;
  text-align: center;
}

header {
  padding: 40px;
}

header h1 {
  font-size: 55px;
  font-family: cursive;
}

header p {
  font-size: 22px;
}

.featured {
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background: white;
  color: black;
  width: 220px;
  padding: 20px;
  border-radius: 20px;
}

button {
  background: #ff1493;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}