body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffc0cb;
  color: white;
  text-align: center;
}

header {
  padding: 40px;
}

header h1 {
  font-family: cursive;
  font-size: 65px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 3px 8px rgba(0,0,0,0.2);
}
.tagline {
  font-family: cursive;
  font-size: 32px;
  color:white;
  font-style: italic
}

.featured {
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background: white;
  color: #333;
  width: 230px;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  font-size: 22px;
  color: #b85c8a;
}

.card h4 {
  font-size: 20px;
  color: #d88b8b;
}


button {
  background: #ff1493;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
